CLUSTER_ID= 75
USER_ID= 1
CLUSTER_NAME= "cluster-one"
KUBECOST_API_URL= "http://172.16.20.110/kubecost"
PASSWORD= "Admin@12#$"
USERNAME= "admin"
BACKEND_API_URL=http://localhost:5000
COLLECTION_INTERVAL_MIN=3600  
REQUEST_TIMEOUT_SEC=30
RETRY_ATTEMPTS=3
RETRY_DELAY_SEC=15
COLLECTION_WINDOW_HOURS=24
MAX_BACKFILL_WINDOWS=7
MIN_SCHEDULE_INTERVAL_MIN=30